@import "bootstrap-grid.min.css";
@import "transitions";
@import "notifications";

html {
  overflow: auto !important;
}

.v-application {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  min-height: 100vh;
}

.w-100 {
  width: 100%
}

a {
  font-size: 14px;
  text-decoration: none;
}

.v-text-field {
  min-height: 82px!important;
}

.hr {
  max-height: 1px;
  min-height: 1px;
  background: lightgray;
  margin: 0.5rem 0;
}

.p-12 {
  padding: 12px;
}
