@import "bootstrap-grid.min.css";
@import "transitions";
@import "notifications";
@import "helpers";

html {
  overflow: auto !important;
}

.v-application {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  min-height: 100vh;
}

.v-text-field {
  min-height: 82px!important;
}


