@import "variables";

.awn-toast {
  font-family: 'Roboto', sans-serif;
  border-radius: 2px!important;
  &-wrapper {
    border: none!important;
    padding: 15px 65px 15px 15px;
  }
  &-label {
    font-size: 16px!important;
    color:white!important;
  }
  &-content {
    font-size: 14px!important;
    color: white!important;
  }
}
@media (max-width: 550px) {
  #awn-toast-container {
    max-width: 320px;
    right: 0;
  }
}

.awn-toast-success {
  background: $awn-success!important;
}

.awn-toast-warning {
  background: $awn-warning!important;
}

.awn-toast-info {
  background: $awn-info!important;
  color:black!important;
}

.awn-toast-alert {
  background: $awn-error!important;
}

.fa, .awn-toast.awn-toast-success b {
  color: white!important;
}

//kolor progressbaru errora
.awn-toast-progress-bar:after {
  background: white!important;
}


//wysokość notyfikacji
#awn-toast-container.awn-top-left, #awn-toast-container.awn-top-right {
  top: 1%!important;
}
